// src/resources/scss/variable.scss

// Color variables
$primary-color: #ff5e5e;
$secondary-color: #ffc107;
$background-color: #f9f9f9;
$text-color: #333;
$header-background: #343a40;
$footer-background: #20232a;
$white-color: #fff;

// Font variables
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-sm: 14px;
