// Color variables
$primary-color: #ff5e5e;          // Màu chính hồng nhạt
$secondary-color: #ffc107;        // Màu phụ vàng
$background-color: #f9f9f9;       // Màu nền chung
$text-color: #333;                // Màu chữ chung
$header-background: #f7cac9;      // Màu nền header hồng Sakura
$footer-background: #20232a;      // Màu nền footer
$white-color: #fff;               // Màu trắng

// Hover colors
$primary-hover: #f06b6b;          // Màu nhấn hồng đậm khi hover
$primary-hover-dark: #e05252;     // Màu nhấn hồng đậm hơn khi hover

// Font variables
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-sm: 14px;


