// src/resources/scss/style.scss

@import '_variable';

// Header styles
.navbar {
  background-color: $header-background;
}

.nav-link {
  color: $white-color;
  &:hover {
    color: $secondary-color;
  }
}

// Footer styles
.footer {
  background-color: $footer-background;
  p, a {
    color: $white-color;
  }
}
