.header {
    background-color: #f7cac9; // màu hồng Sakura
    .navbar {
      .navbar-brand {
        .logo {
          max-width: 150px;
        }
      }
      .nav-link {
        color: #333;
        &:hover {
          color: #f06b6b; // màu nhấn hồng đậm khi hover
        }
      }
      .btn-primary {
        background-color: #f06b6b;
        border-color: #f06b6b;
        &:hover {
          background-color: #e05252;
        }
      }
    }
  }
  