body {
  font-family: Arial, sans-serif; }

#banner {
  background: linear-gradient(45deg, #3498db, #2ecc71); }
  #banner h1 {
    font-size: 3rem;
    font-weight: bold; }
  #banner p {
    font-size: 1.2rem;
    margin-bottom: 20px; }

#popular-songs .card {
  transition: all 0.3s ease-in-out; }
  #popular-songs .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); }

footer {
  background-color: #3498db; }
  footer p {
    margin: 0;
    color: #fff; }

.container {
  margin-top: 20px; }

.list-group-item {
  font-size: 1.2rem;
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 10px; }
  .list-group-item:hover {
    background-color: #f8f9fa; }

h2 {
  color: #3498db;
  margin-bottom: 20px; }
